@charset "UTF-8";

#header{
	width: 100%;
	text-align: center;
}
.header_inner{
	width: 600px;
	height: 80px;
	margin: 30px auto;
}
.header_logo{
	font-size: 40px;
	font-weight: normal;
	font-family: 'Monoton', cursive;
}
.container{
	width: 100%;
	text-align: center;
}
.container_inner{
	text-align: center;
	width: 350px;
	margin: 0 auto;
	background-color: #fff;
}

.input_area{
	width: 350px;
	height: 50px;
	margin-top:70px;
	display: block;
	padding-left: 10px;
	font-weight: bold;
}
.input_area:NTH-CHILD(2){
	margin-top: 30px;
	margin-bottom: 50px;
}

.input_button{ 
	width: 150px;
	height: 50px;
	margin-right: 20px;
}
.input_button:LAST-CHILD {
	margin:0;
}




