@charset "utf-8";

.container{
	width: 100%;
	text-align: center;
	margin-top: 85px;
}
.container_inner{
	width: 500px;
	margin: 250px auto;
	overflow: hidden;
}
.input_div{
	margin: 30px auto;
}
.input_area{
	width:300px;
	height: 40px;
	padding-left: 10px; 
}
.input_button{
	width: 120px;
	height: 40px;
	margin-left: 30px;
}
.input_button:FIRST-CHILD {
	margin-left: 0;
}